<!DOCTYPE html>
<html>
<head>
  <title>{% block title %}{% endblock %} - Seismic</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
  <link rel="stylesheet" href="css/base.css" type="text/css">
  {% block head %}{% endblock %}
</head>
<body>
  <div class="full-height">
    <div class="main-menu">
      <h2 style="text-align: center">Seismic</h2>
      {{ nav|safe }}
    </div>
    <div class="container raleway" id="contents">
      <h1>{% block heading %}{% endblock %}</h1>
      <p>{% block explain %}{% endblock %}</p>
      {% block contents %}{% endblock %}
    </div>
  </div>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
</html>
