<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% endblock %} - Seismic</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <link rel="stylesheet" href="/assets/vendor/bootstrap-toggle.min.css" type="text/css">
    <link rel="stylesheet" href="/assets/css/base.css" type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="assets/vendor/bootstrap-toggle.min.js"></script>
    {%- block head %}{% endblock -%}
</head>
<body>
  <div class="full-height">
    <div class="main-menu">
      <h2 style="text-align: center">Seismic</h2>
      {{ nav|safe }}
    </div>
    <div class="container raleway" id="contents">
      <h1>{% block heading %}{% endblock %}</h1>
      <p>{% block explain %}{% endblock %}</p>
      {% block contents %}{% endblock %}
    </div>
  </div>
</body>
</html>
