{% extends "base.html" %}
{% block title %}Explore/SAX{% endblock %}
{% block heading %}Explore / SAX{% endblock %}
{% block explain %}Perform post-processing and do SAX analysis{% endblock %}
{% block head %}
    <script src="/assets/js/explore.js"></script>
    <script src="/assets/vendor/bower_components/moment/moment.js"></script>
    <script src="/assets/vendor/bower_components/chart.js/dist/Chart.js"></script>
    <script>
        angular.module('ngUrlBindExample', ['ngUrlBind'])
            .controller('mainCtrl', function($scope, ngUrlBind){
                $scope.evt = {};
                ngUrlBind($scope, 'evt');
            })
    </script>
{% endblock %}
{% block contents %}
<div ng-app="explore" ng-controller="exploreCtrl">
<form>
    <div class="row">
        <div class="col-lg-4 form-group">
            <label for="event">Event</label><br>
            <input type="text" id="event" class="form-control" ng-model="evt.id" ng-blur="renderChart(1)">
        </div>
    </div>
    <div class="row">
        <div class="col-lg-2 form-group">
            <input type="checkbox" id="absolute" ng-model="params.absolute" ng-change="renderChart(1)">
            <label for="absolute">Absolute</label><br>
			<label for="offset">Offset (ms)</label><br>
            <input type="number" id="offset" ng-model="params.offset" ng-blur="renderChart(1)"><br>
            <label for="length">Length (ms)</label><br>
            <input type="number" id="length" ng-model="params.length" ng-blur="renderChart(1)">
        </div>
        <div class="col-lg-2 form-group">
			<input type="checkbox" name="bandpass" id="bandpass" ng-model="params.bandpass" ng-change="renderChart(1)">
            <label for="bandpass">Bandpass</label><br>
			<label for="bandpassLow">Bandpass Low (Hz)</label><br>
            <input type="text" id="bandpassLow" ng-model="params.bandpassLow"
                   ng-disabled="!params.bandpass" ng-blur="renderChart(1)"><br>
            <label for="bandpassHigh">Bandpass High (Hz)</label><br>
            <input type="text" id="bandpassHigh" ng-model="params.bandpassHigh"
                   ng-disabled="!params.bandpass" ng-blur="renderChart(1)">
        </div>
		<div class="col-lg-2 form-group">
			<input type="checkbox" id="sax" ng-model="params.sax" ng-change="renderChart(1)">
            <label for="sax">SAX</label><br>
			<label for="interval">PAA Interval (ms)</label><br>
			<input type="text" id="interval" ng-model="params.paaInt"
                   ng-disabled="!params.sax" ng-blur="renderChart(1)"><br>
			<label for="alphabet">SAX Alphabet</label><br>
			<input type="text" id="alphabet" ng-model="params.alphabet"
                   ng-disabled="!params.sax" ng-blur="renderChart(1)">
		</div>
        <div class="col-lg-2 form-group">
            <h4>Add to Suffix Tree</h4>
            <form ng-submit="alert('foo')">
                <select ng-model="selectedStation" ng-options="i for i in suffixTrees"
                    class="form-control" id="selectedSuffixTree"></select>
                <button class="btn btn-default" type="submit">Save</button>
            </form>
        </div>
    </div>
    <div class="row">
        <pre ng-bind="chartData[1].sax"></pre>
    </div>
    <div class="row">
        <canvas id="chart_1"></canvas>
    </div>
</form>
</div>
{% endblock %}