{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block heading %}Seismic Detection with SAX{% endblock %}
{% block explain %}Instructions as listed in Appendix A.2.2 in the report{% endblock %}
{% block contents %}
<ol>
    <li>
        Select <b>Import</b> from the menu. Then click on Choose Files and select some observations (there are some under
        /sample/_all in the included source or at <a href="https://github.com/t0mmyt/seismic-detector/tree/master/sample/_all">
        https://github.com/t0mmyt/seismic-detector/tree/master/sample/_all</a>). Then hit Upload, if all was successful,
        you will see a list of the files uploaded in green.
    </li>
    <li>
        Once the files have been uploaded, click on Observations.
    </li>
    <li>
        Then select a Network, Station and Channel to see observations that match your criteria.<br>
        <img src="https://rawgit.com/t0mmyt/seismic-detector/master/report/img/run-select.png" alt="Selecting Observation" style="width: 100%;">
    </li>
    <li>
        By ticking the checkbox next to an event, you are presented with a rendering of the whole observation and some controls<br>
        <img src="https://rawgit.com/t0mmyt/seismic-detector/master/report/img/run-render.png" alt="Viewing Observation" style="width: 100%;">
    </li>
    <li>
        To detect an event either by STA/LTA or SAX, hit the relevant control and then hit the
        light blue Refresh button next to them to see if there were any potential events found.
        If there were, you can tick the box next the the number of events to see them displayed
        on the graph.
        <img src="https://rawgit.com/t0mmyt/seismic-detector/master/report/img/run-detected.png" alt="Detecting Event" style="width: 100%;">
    </li>
    <li>
        To see the event in more detail and to view the PAA/SAX process, you can click on the event ID for that event.
        <img src="https://rawgit.com/t0mmyt/seismic-detector/master/report/img/run-event.png" alt="Detecting Event" style="width: 100%;">
    </li>
</ol>
{% endblock %}
