{% extends "base.html" %}
{% block title %}View{% endblock %}
{% block head %}
<div id="test"></div>
<div id="test-overview"></div>
<link href="/assets/vendor/c3.min.css" rel="stylesheet" type="text/css">
<script type="text/javascript" src="/assets/vendor/c3.js"></script>
<script type="text/javascript" src="/assets/vendor/d3.v3.min.js"></script>
{% endblock %}
{% block contents %}
<div id="chart"></div>
<script type="text/javascript">
var obs_id = "9609a3f063a34b49a00ffc1304bb129a";

var chart =  c3.generate({
    bindto: "#chart",
    data: {
        url: "/observations/" + obs_id + "/view",
        mimeType: "json",
        keys: {
            x: 't',
            value: ['y']
        }
    },
    axis: {
        x: {
            type: 'timeseries',
            tick: {
                format: function (e) {
                    var date = new Date(e);
                    return date.toTimeString();
                }
            }
        }
    },
    subchart: {show: true},
    point: {show: false}
});


</script>
{% endblock %}
